In [2]:
###pandas
import pandas as pd

In [3]:
##A parameter i  the name of ecpectd input to a function/method/class instantation
##An arguemnet is the concrete value we provide during invocation

fruits = ["a", "b"]
day = ["mon", "tue"]

pd.Series(data=fruits, index=day)

mon    a
tue    b
dtype: object

In [ ]:
## Import series with pd.read_csv files
#pd.read_csv("file_name.csv", usecols=["Name"]).squeeze("columns")
#table.head(5)
#len(table) -> 1000
#type(table) -> Series
#list(yable) -> convert to pythin list
#sorted(table) -> ankur,basd,csfd,derdc,
#dict(tabke) -> imdex-keys, column_data ->values
#max(table), min(table)

In [ ]:
## in Keyword
# in keyword checks if a value exists within an object
# "car" in "first_car"  or 2 in [1,2,3,4,5,6]
'''
"Bulbasur" in pokemon -> False
0 in pokemon -> True
5 in pokemon.index -> True

"Bulbasaur" in pokemon.values -> True
'''

## sort_values (by default ascending)
#table.sort_values(ascending=True)

## sort_index sorts a series by it's index
#Task:return to original indexing -> table.sort_index()

In [ ]:
######Good Question##############################

# This challenge includes a coffee.csv with 2 columns: 
# Coffee and Calories. Import the CSV. Assign the Coffee
# column to be the index and the Calories column to be the
# Series' values. Assign the Series to a 'coffee' variable.
coffee = pd.read_csv("coffee.csv", index_col = "Coffee").squeeze("columns")
 
# Check whether the coffee 'Flat White' is present in the data.
# Assign the result to a `flat_white` variable
flat_white = "Flat White" in coffee.index
 
# Check whether the coffee 'Cortado' is present in the data.
# Assign the result to a `cortado` variable
cortado = "Cortado" in coffee.index
 
# Check whether the coffee 'Blackberry Mocha' is present in the data.
# Assign the result to a `blackberry_mocha` variable
blackberry_mocha = "Blackberry Mocha" in coffee.index
 
# Check whether the value 221 is present in the data.
# Assign the result to a 'high_calorie' variable.
high_calorie = 221 in coffee.values
 
# Check whether the value 400 is present in the data.
# Assign the result to a 'super_high_calorie' variable.
super_high_calorie = 400 in coffee.values

In [ ]:
##extract series value by index position

#pokemon.iloc[251]
#pokemon.iloc[100,200,300]
#pokemon.iloc[27:36] #total values = 36-27 = 9
#pokempon.iloc[-1] # last value
#pokempn.iloc[-8:] #last 8th value to the last value

#extract series value by index label
#pokemon.loc["Pichu"]
#pokemon.loc["Pichu","Abra","Squirtle"]

In [ ]:
##get method
# alternate to extract value by index label. alternative option to square backet
# get method's 2nd arguement sets the fallback value to return if the label/position deosn't exist

#pokemon.get("abra") = pokemon.loc["abra"]
# if the get method doesm't found anything, it returns none (or we can modify), whereas loc give error
#pokemon.get(["moltres", "articuno"])
#pokemon.get("digimon", "this is a not a pokemon")

In [ ]:
###overwrite a series value

#pokemon.iloc[0] = "NEw_pokeom"
#pokemon.iloc[1,2,4] = ["fireasd", "dragonbie", "sadsd"]

#pokemon = pd.read_csv("pokemon.csv", index_col="Name").squeeze("columns") ##pokemon.csv has 2 coluns "name" and "type"
#pokemon.loc["evee"] = "fairy" -> will chaneg the type of evee to fairy
#pokemon.iloc[0] = "dark" -> will chaneg the type of pokemon at index 0 to dark

In [ ]:
##Copy method
# duoplicate iof an object, changing copy will not going to have an effect on original object
# whereras view is segment of a an object, changing will modify the original data

#pokemon_df = pd.read_csv("pokemon.csv", usecols="Name").squeeze("columns") #pokemon.csv has 2 coluns "name" and "type". it will only pick up name column  ##this is a dataframe
#pokemon_Series = pokemon_df.squeeze("columns") ##this is a series
##pokemon_series is a view of pokemon_df. Changing pokemon_series will change pokemon_df
#pokemon_series[0] = "what" -> this will be obsrerved ib pokemon_df also
#pokemon_Series = pokemon_df.squeeze("columns").copy() ##this is a series and a copy

In [ ]:
##Math methods
# count,sum,product,mean,std,max,min,median,mode,describe

#table.count() is not gonna count Nan values, but #table.size() will count Nan values
#table.describe() -> gives a lot of useful information

##Broadcasting
# appplying a mathematical operation to all the values
# google is a Df having stock price values
#google.add(10) or google + 10
#google.sub(10) or google - 10
#google.mul(1.25) or google * 1.25
#google.div(2) google / 2

In [ ]:
##value_counts menthod
# the value_counts method returns the no. of time unique value occurs
# the normarlize paramter returns the relative frequencies/percentage of values instead of the counts

#pokemon = pd.read_csv("pokemon.csv", index_col="Name").squeeze("columns")
#pokemon.value_counts() #ascending=False (by default) ##can be used to count the no. of types of pokeomn
#pokemon.value_counts(ascending=True) 
#pokemon.value_counts(normalize = True)
#pokemon.value_counts(normalize = True) * 100

In [ ]:
##apply method
# the apply method accepts a function. It involves that function on every Series value.

#pokemon = pd.read_csv("pokemon.csv", usecols="Name").squeeze("columns")
#pokemon.apply(len)
#we can define our own function also
def count_of_a(pokemon):
    pokemon.count("a") ##count the no. of alphabet "a" in the name

#pokemon.apply(count_of_a)

In [ ]:
##Map method
# map method "maps" or connects each Series to another value
# We can pass method a dict. or a series. Both types connects key to values
# The map method uses our arguements to connect or bridge together the values

#pokemon = pd.read_csv("pokemon.csv", index_col="Name").squeeze("columns")
attack_powers = {
    "Grass": 10,
    "Fire": 15,
    "Water": 15,
    "Fairy, Fighting":20
}
#pokemon.map(attack_powers) ##if attack doesn't match, it will give Nan value for that type

In [ ]:
##Methods and attributes b/w series and dataframes
# dataframe is a 2-d table consisting of rows and columns.
# pandas uses a Nan for cells that have missing values. Most operations with Nan will give Nan
# Like a series, pandas assigns an index position/label to each dataframe row
# The Dataframes and Series have common and exclusive methods/attributes
# the hasnas attribute exists only a Series. The columns attribute exists only on DataFrame
# some methods/attributes will return diff. types of data
# The info method returns a summary of the pandas object

#nba = pd.read_csv("nba.csv") -> Df
#s =pd.Series([1,2,3,4,5]) -> Series

#nba.head() , nba.tail()
#s.index , nba.index()
#s.values, nba.values()
#s.shape() , nba.shape()
#s.dtypes(), nba.dtypes()
#s.hasnas()
#nba.columns()  
#s.axes, nba.axes()
#s.info(), nba.info()

##difference b/w shared methods (#45)
# the summ methods adds a Series's values. On a Df, the sum method defaults to adding the values bys traversing the index(row values)
# the axis parameter customizes the direction that we add across. Pass "columns" or 1 to add "across" the the columns

# revenue is a Df
#s = pd.Series(1,2,3) #s.sum() -> 6
#revenue.sum() = revenue.sum(axis = "index")-> gives sum of all the values of that column (across the rows)
#revenue.sum(axis = "columns") -> sum across the columns
#revenue.sum(axis = "columns").sum() -> sum of all the values

In [ ]:
##Selecting a single column from df
# we can use df.coulmn_name to etract a single columns, but syntax will not work if column name has space in between
# We can also use [] to extract column from dataframe. df["column name"]
# Pandas extracts a column as a series from a DF
# The Series is a view, so changes to the Series will affect the Data Frame
# Pds will dipslay a warning if ypu try to mutilitate the Sereis, use the copy method to create a duplicate

#nba.Team
#nba.Name - okay , but nba.name - error as column name is "Name"
#type(nba["Name"])
#names = nba["Name"].copy() ,now we can modify this copy without affecting the original datframe

###Selecting Multiple columns
#result = nba[["Team", "Name"]] # result is a Df object, which is a copy

##Add a new column
#nba["Sport"] = "Basketball" -> It will add a new column Sport in which all vaues is Sport
#nba.insert(loc = 3, cloumn="Sport", value = "Basketball") #another method to add column, we can select the column position 

#nba["Salary Doubled"] = nba["salary"].mul(2)

##review of value_counts method
#nba["team"].value_counts()
#nba["position"].value_counts()
#nba["position"].value_counts(normalize=True) *100

In [ ]:
##drop datarows with missing values
# pandas uses Nan designation for missing values
# the dropna method deletes rows with missing values. it's default behaviour is to drop a row, if it has misisng value
# pass the how parameter, an arguement of "all" to delete rows where all values are Nan
# The subset paramter customizes/limits the colums that pandas will use to drop rows with missing values

"""Suppose nba table has these 3 rows
index player salray position age 
0   kohli   10      2nd     30 
1   rohit   20      1st     Nan
2   Nan   Nan       Nan     Nan
"""
#nba.dropna() or nba.dropna(how="any") -> remove any rows that have misisng values (will delete row 2 and 3)

#nba.dropna(how="all")  -> remove only that row which has all value= Nan, only remove row 3
#nba.dropna(subset=["salray"]) -> reomeve only that row which has Nan value in slaray column only
#nba.dropna(subset=["salray" , "age"]) -> removes only those rows which have Nan values in salray *or* age column. (Works as "or" orperator, not as "and" operator)

In [ ]:
##filling values
#fillna value replaces both series and dataframe.
#An etracted series is a view of the orginal Df, but the fillna method returns a copy

#nba.fillna(0)
#nba["Salary"] = nba["Salary"].fillna(0)
#nba["Salary"] = nba["Salary"].fillna(value="Unknown")

In [ ]:
##astype method 1
# The astype method converts a Series's value to the specified type.
# Pass in the specified type as either as string or the core Python data type
# Pandas cannot convetr Nan values to numeric types, so we need to eliminate/replace them before we perform the conversion
# The dtypes atribute returns a Series with DataFrame's columns and types 

#nba.dtypes()
#nba["Salary"].astype("int") or nba["Salary"].astype(int) -> this is a copy, original won;t change
#nba["Salary"] = nba["Salary"].astype("int")

##astype methdo 2
# The category type is ideal for columns with limited no. of unique values
# the nunique method will return a Series with the no. of unqiues values in each column
# With categories, pandas does not create a separate value in memory for each "cell". Rather, the cells point to a single copy for each unique value
# This reduces a great amount of memeory cinsumption based on repeated values

#nba["Team"].nuinque()
#nba.unique()
#nba["Team"] = nba["Team"].astype("category")

In [ ]:
##sort a Df with sort_values method 1
# The sort_values method sorts a DF by the values in 1 or more columns. The default sort in an ascending one(alphabetical or string)
# The 1st parameter(by) expects the column(s) to sort by.
# if sorting by a single column, pass a string with it's name
# the ascending parameter custmizesthe sort order
# the na_position parameter customizes where pandas places NaN values.

#nba.sort_values("Name") = nba.sort_values(by="Name")  #by default ascending
#nba.sort_values(by="Name", ascending=False) #by default pandas put Nan values at last
#nba.sort_values(by="Name", na_positiion="first", ascending = "False") 

# the above one is used for only 1 column, now we are going to sort multiple columns
# To sort multiple columns, in by parameter give multiple column names
# Pass ascending a list to customize the sort order of columns. len of by multiple columns = len of ascending list

#nba.sort_values(by=["Team","Name"]) #1st sort the values by Team then Name 
#nba.sort_values(by=["Team","Name"], ascending=True) ->asc=True will aplly to all columns
#nba.sort_values(by=["Team","Name"], ascending=[True,False]) -> asc=True will apply to team and asc=False will apply to Name
#nba = nba.sort_values(by=["Team","Name"], ascending=[True,False] #will apply changes to the df

##sort_index Method
# sort by index positions/labels

#nba = nba.sort_index() ->Pandas will sort the index of any type int,date,alph in ascending order
#nba = nba.sort_index(ascending = False)

In [ ]:
##Rank Values with rank method
# The rank method assigns a numeric rating to each Series Value
# Pds will assign the same rank to equla values and create a "gap" in datasets for the ranks

#nba = pd.read_csv("nba.csv").dropna(how="all")
#nba["Salary"] = nba["Salary"].fillna[0].astype(int)
#nba["Salary"].rank()
#nba["Salary"].rank(ascending = False).astype(int) -> for descedning order, astype(int) is uesd to convert rnk type from float to int
#nba["Salary]= nba["Salary"].rank(ascending = False).astype(int) -> making changes in original df
#nba.sort_values(by= "Salary", ascending=false).head(10) -> to confirm