In [ ]:
###Input and Output

In [1]:
import pandas as pd

In [4]:
url = "https://data.cityofnewyork.us/api/views/25th-nujf/rows.csv"
names = pd.read_csv(url)
names.head()

   Year of Birth  Gender Ethnicity Child's First Name  Count  Rank
0           2011  FEMALE  HISPANIC          GERALDINE     13    75
1           2011  FEMALE  HISPANIC                GIA     21    67
2           2011  FEMALE  HISPANIC             GIANNA     49    42
3           2011  FEMALE  HISPANIC            GISELLE     38    51
4           2011  FEMALE  HISPANIC              GRACE     36    53

In [7]:
##Exporting Df to csv files
# The to_csv method exports DataFrame to a  Csv file
# # 1st arguement is filename
# by default, pds will include the index. Set the index paramter to False to exclude the index
# the columns parameter limits the exported columns

names.to_csv("baby_names.csv", index=False, columns = ["Year of Birth","Child's First Name","Count"])

In [ ]:
##Importing excel files
# We need openpyxl module ofr this
# read_excel function reads an Excel file/workbook into Df
# Use the sheet_name paramaetr, if the workbook contains multiple worksheets. Pass a single worksheet name or a list of worksheet names/index positions
# Pass the sheet_name paramater an arguemnet of None to include all worksheets
# Pds will store multiple worksheets in a python dctionary. The keys will be the worksheet names, and the values, will be DFs

#pd.read_excel("Data - Single Worksheet.xlsx")
#pd.read_excel("Data - Mutiple Worksheet.xlsx") -> It h#as 2 sheets, but pds only take the 1st sheet
#pd.read_excel("Data - Mutiple Worksheet.xlsx", sheet_name = "Data 1") -> Only import Data 1 sheet
#pd.read_excel("Data - Mutiple Worksheet.xlsx", sheet_name = 0) -> Same as above
#pd.read_excel("Data - Mutiple Worksheet.xlsx", sheet_name = ["Data 1", "Data 2"])
#type(pd.read_excel("Data - Mutiple Worksheet.xlsx", sheet_name = ["Data 1", "Data 2"]))
#pd.read_excel("Data - Mutiple Worksheet.xlsx", sheet_name = [0, 1])
#pd.read_excel("Data - Mutiple Worksheet.xlsx", sheet_name = None) # -> captures all the sheets
#data = pd.read_excel("Data - Mutiple Worksheet.xlsx", sheet_name = None)
#data["Data 1"]

In [13]:
##Export excel from pandas
# the ExcelWriter class write one or more DataFrames to an excel file
# Use a context manager (the with keyword) in combination with ExcelWriter Object and an assigned value
# Invoke the to_excel method on every DataFrame to include in the Excel workbook and pass in the ExcelWriter object as 1st arguement
# The to_excel method supports sheet_name, index and columns parameters.

url = "https://data.cityofnewyork.us/api/views/25th-nujf/rows.csv"
names = pd.read_csv(url)
names.head()
females = names[names["Gender"] == "FEMALE"]
males = names[names["Gender"] == "MALE"]

with pd.ExcelWriter("NYC_BABY_DATA.xlsx") as excel_file: # with ensures that after writing the file, the file is closed properly and new excel file is cretaed with name "NYC_BABAY_DATA.xlsx"
    females.to_excel(excel_file, sheet_name="Woman", index = False)
    males.to_excel(excel_file, sheet_name="Man", columns = ["Gender", "Year of Birth", "Child's First Name"]) # selecting only those columns which are only needed.

In [11]:
names.columns

Index(['Year of Birth', 'Gender', 'Ethnicity', 'Child's First Name', 'Count',
       'Rank'],
      dtype='object')